h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 20px;
    color: brown;
    text-align: center;
    background-color: blueviolet;
    background-repeat: no-repeat;
}

body {
    background-color: yellow;
    font-size: 14px;
}

.titulo {
    width: 100%;
    text-align: center;
    border: 2px solid white;
    background-image: url(https://media.istockphoto.com/photos/code-picture-id175198877?s=2048x2048);
    background-size: cover;
}

button {
    border: solid 2px black;
    border-radius: 10px 10px;
    padding: 10px;
    margin-top: 20px;
}


.navbar {
    overflow: hidden;
    background-color: yellowgreen;

    position: fixed;
    top: 0;
    width: 12%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    color: black;
    transition: 0.3s;
}

.main {
    margin-top: 0px;
}

.footer {
    background: var(--gradient-linear);
    height: 15vh;
    filter: var(--shadow);
    width: 100%;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}